services:
  lograg-api:
    container_name: lograg-api
    build:
      context: ./rag-api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  lograg-ui:
    container_name: lograg-ui
    build:
      context: ./ui
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - lograg-api
    restart: unless-stopped
